{% extends "base.html" %}
{% block title %}Жанры{% endblock title %}
{% block header %}Жанры{% endblock header %}
{% block content %}
<main>
    <section>
        <section>
            <form method="POST" action="/create_genre/">
                {% csrf_token %}
                <div>
                    <label for="name">Введите название жанра</label><br>
                    <input type="text" id="name" name="name" tabindex="1"/>
                </div>
                <div>
                    <label for="description">Введите описание жанра</label><br>
                    <textarea id="description" name="description" tabindex="2"></textarea>
                </div>
                <div>
                    <input type="submit" value="Сохранить" tabindex="3">
                </div>
            </form>
        </section>
        {% if genres.count > 0 %}
        <h2>Список жанров</h2>
        <section>
            <table>
                {% for g in genres %}
                <tr>
                    <td>{{ g.name }}</td>
                    <td>{{ g.description }}</td>
                    <td>
                        <a href="/edit_genre/{{g.id}}">Изменить</a> | 
                        <a href="/delete_genre/{{g.id}}">Удалить</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </section>
        {% else %}
        {% endif %}
    </section>
</main>
{% endblock content %}