{% extends "base.html" %}
{% block title %}Вопрос-ответ{% endblock title %}
{% block header %}Вопрос-ответ{% endblock header %}
{% block content %}
<main>
    <section>
        {% for i in all_items %}
            <article>
                <details>
                    <summary>{{ i.question }}</summary>
                    <p>{{ i.answer }}</p>
                    <p><small>Добавлено: {{ i.date_question }}</small></p>
                </details>
            </article>
        {% endfor %}
    </section>
</main>
{% endblock content %}