{% extends "base.html" %}
{% block title %}Фильмы{% endblock title %}
{% block header %}Фильмы и их продажи{% endblock header %}
{% block content %}
    <main>
    <section>
        <table bgcolor="#deb887" border="1" align="center">
            <tr>
                <td colspan="2" align="center">Хиты кинопроката</td>
            </tr>
            <tr>
                <th id="movie">Фильм</th>
                <th id="sales">Общая сумма продаж</th>
            </tr>
            {% for movie, total_sales in movies_and_sales %}
            <tr>
                <td headers="movie">{{ movie.title }}</td>
                <td headers="sales">{{ total_sales }}</td>
            </tr>
            {% endfor %}
        </table>
    </section>
    <section>
        <figure style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
            <img src="{{ image_path }}" alt="Graphic of sales distribution">
            <figcaption>График распределения продаж по фильмам</figcaption>
        </figure>
    </section>
    </main>
{% endblock content %}