{% extends "base.html" %}

{% block title %}Вход{% endblock title %}

{% block content %}
    <main>
        <h2 id="login-header">Вход</h2>
        <section>
            <form method="post">
                <fieldset title="Login info">
                    <legend>Данные для входа</legend>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <p>
                        <input type="submit" value="Войти">
                        <input type="button" value="На главную" onclick="location.href='{% url 'home' %}'">
                    </p>
                </fieldset>
            </form>
        </section>
    </main>
{% endblock content %}
