<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
    <header>
        <h2>Регистрация</h2>
        <nav>
            <a style="position: absolute; right: 0; top: 0" href="{% url 'signup_employee' %}">Для сотрудников</a>
        </nav>
    </header>
    <main>
        <section>
            <form method="post" autocomplete="off">
                {% csrf_token %}
                {{form}}
                <input type="submit" value="Зарегистрироваться">
            </form>
        </section>
        <section>
            <button name="To login" type="button" onclick="location.href='{% url 'login' %}'">
                Ко входу</button>
            <button name="To home" type="button" 
                                onclick="location.href='{% url 'home' %}'">
                На главную</button>
        </section>
    </main>
</body>
</html>