{% extends "base.html" %}
{% block title %}Клиенты{% endblock title %}
{% block header %}Клиенты и их покупки{% endblock header %}
{% block content %}
    <table align="center" bgcolor="#e9967a" border="1">
        <tr>
            <th>Клиент</th>
            <th>Общая сумма покупок</th>
        </tr>
        {% for client, total_purchases in clients_and_purchases %}
            <tr>
                <td>{{ client.user.username }}</td>
                <td>{{ total_purchases }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}