{% extends "base.html" %}
{% block title %}Клиенты{% endblock title %}
{% block content %}
    <div class="table-container">
        <table id="stats">
        <caption>Клиенты и их покупки</caption>
            <thead>
                <tr>
                    <th>Клиент</th>
                    <th>Общая сумма покупок</th>
                </tr>
            </thead>
            <tbody>
                {% for client, total_purchases in clients_and_purchases %}
                    <tr>
                        <td class="short-description">{{ client.user.username }}</td>
                        <td class="short-description">{{ total_purchases }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <th class="short-description"><strong>Итого:</strong></th>
                    <th class="short-description"><strong>{{ total_purchases_amount }}</strong></th>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock content %}
