{% extends "base.html" %}
{% block title %}Главная{% endblock title %}
{% block header %}Главная{% endblock header %}
{% block content %}
    <main>
        <header>
            <h1>Добро пожаловать,
                {% if user.is_superuser %}
                    {{ user.username }}, вы вошли как суперпользователь
                {% elif user.employee %}
                    {{ user.username }}, вы вошли как сотрудник
                {% else %}
                    {{ user.username|default:'дорогой зритель' }}
                {% endif %}
            </h1>
        </header>
        <img
            src="/media/logo_small.png"
            srcset="/media/logo_small.png 200w,
                    /media/logo_medium.png 400w,
                    /media/logo_large.png 800w"
            sizes="(max-width: 40em) 100vw, 50vw"
            alt="Логотип Синема Миракл"
            style="display: block; margin: 0 auto;">
        <section class="content">
            <h2>Последняя новость</h2>
            <article>
                <h3>{{ latest_news.title }}</h3>
                <img src="{{ latest_news.image.url }}" alt="" style="height:300px;">
                <p>{{ latest_news.content|truncatewords:20 }}</p>
                <button name="Read more" type="button"
                        onclick="location.href='{% url 'news_details' latest_news.id %}'"
                        style="text-align: center">Читать далее</button>
            </article>
        </section>
    
        <section>
            <h2>Наши партнеры</h2>
            {% for partner in partners %}
                <figure>
                <a href="{{ partner.link }}" target="_blank">
                    <img src="{{ partner.logo.url }}" alt="{{ partner.name }}" style="height:100px;"></a>
                    <figcaption>{{ partner.name }}</figcaption>
                </figure>
            {% endfor %}
        </section>
        <section>
            <h2>Реклама</h2>
            <table>
                <tr>
                    <td>
                        <img src="/media/ads/ad_drinks.png" alt="Реклама" style="height: 350px">
                    </td>
                    <td>
                        <img src="/media/ads/ad_tickets.png" alt="Реклама" style="height: 350px">
                    </td>
                    <td>
                        <img src="/media/ads/ad_hall.png" alt="Реклама" style="height: 350px">
                    </td>
                </tr>
            </table>
        </section>
        
        <hr>
        <section class="content">
            {% if quote %}
                <h2>Цитата:</h2>
                <blockquote cite="https://favqs.com/api/qotd">{{ quote }}</blockquote>
            {% endif %}
        </section>
    </main>
{% endblock content %}