{% extends "base.html" %}
{% block title %}Синема Миракл{% endblock title %}
{% block content %}
<main class="home">
    <img 
        src="/media/logo.jpeg"
        alt="Логотип Синема Миракл"
        class="logo-element">

    <section class="content">
        <div class="news-section">
            <h2 class="section-title">Последняя новость</h2>
            <article class="latest-news">
                <div class="news-card">
                    <img src="{{ latest_news.image.url }}" alt="{{ latest_news.title }}" class="news-image-home">
                    <div class="news-overlay">
                        <div class="news-text">
                            <h3 class="news-headline">{{ latest_news.title }}</h3>
                            <p class="news-content-home">{{ latest_news.content|truncatewords:20 }}</p>
                            <button name="Read more" type="button" 
                                    onclick="location.href='{% url 'news_details' latest_news.id %}'"
                                    class="btn-read-more">Читать далее</button>
                        </div>
                    </div>
                </div>
            </article>
        </div>

        
        <section class="partners-section">
            <h2 class="section-title">Наши партнеры</h2>
            <div class="partners-list">
                {% for partner in partners %}
                    <figure>
                        <a href="{{ partner.link }}" target="_blank">
                            <img src="{{ partner.logo.url }}" alt="{{ partner.name }}" class="partner-logo"></a>
                        <figcaption>{{ partner.name }}</figcaption>
                    </figure>
                {% endfor %}
            </div>
        </section>

        <section class="ads-section">
            <h2 class="section-title">Реклама</h2>
            <div class="ads-container">
                <img src="/media/ads/ad_drinks.png" alt="Реклама">
                <img src="/media/ads/ad_tickets.png" alt="Реклама">
                <img src="/media/ads/ad_hall.png" alt="Реклама">
            </div>
        </section>
        
        <hr>

        <section class="quote-section">
            {% if quote %}
                <h2 class="quote">Цитата дня:</h2>
                <blockquote cite="https://favqs.com/api/qotd">{{ quote }}</blockquote>
            {% endif %}
        </section>
    </section>
</main>
{% endblock content %}
