{% extends "base.html" %}
{% block title %}Политика конфиденциальности{% endblock title %}
{% block header %}Политика конфиденциальности{% endblock header %}
{% block content %}
<main>
    <section>
        <h2 id="privacy_policy">Дата и время вступления в силу: 
            <time datetime="2024-05-10">10.05.2024</time> 
            <time datetime="12:00">12:00</time>
        </h2>

        <p>В "Синема Миракл" мы уважаем вашу конфиденциальность и защищаем личные данные, которые вы нам предоставляете. 
            Эта <em>Политика</em> объясняет, какие <strong>данные</strong> мы собираем, как их используем и как обеспечиваем их безопасность.</p>

        <ol>
            <li>
                <strong>Сбор данных</strong>
                <ul>
                    <li>Персональные данные: имя, контактная информация, история покупок.</li>
                    <li>Информация о предпочтениях: посещенные сеансы и интересы.</li>
                </ul>
            </li>
            <li>
                <strong>Использование данных</strong>
                <ul>
                    <li>Предоставления услуг: бронирование билетов, покупка товаров.</li>
                    <li>Отправки уведомлений и новостей (с вашего согласия).</li>
                    <li>Проведения <i>аналитики и исследований</i>.</li>
                </ul>
            </li>
            <li>
                <strong>Ваши права</strong>
                <ul>
                    <li>Запросить <b>копию</b> ваших данных.</li>
                    <li>Изменить данные.</li>
                    <li>Удалить данные.</li>
                </ul>
            </li>
            <li>
                <strong>Контакты</strong>
                <ul>
                    <li>Телефон: <a href="tel:+375295670466">8-800-555-35-35</a></li>
                    <li>Email: <a href="mailto:anastasianikolaichik@gmail.com?subject=Вопрос">info@cinemamiracle.com</a></li>
                </ul>
            </li>
        </ol>

        <p>Все данные будут храниться в соответствии с Регламентом <dfn title="Мировой стандарт">ЕС №2016/679</dfn><sup>*</sup> 
            о защите персональных данных.</p>
        <p>В соответствии с положениями <abbr title='General Data Protection Regulation'>GDPR</abbr> 
            все персональные данные пользователей будут обработаны безопасным способом.</p>
        <p><q cite="https://www.un.org/en/universal-declaration-human-rights/">Конфиденциальность — это не привилегия, 
            а фундаментальное право каждого человека</q>.</p>
        <p>Вам обещаем защиту прав,<br>
        Секреты ваши будут в безопасности,<br>
        И каждое ваше слово будет как за склом,<br>
        Так доверяйте нам без оглядки. (Стих нашего собственного сочинения)<wbr></p>
    </section>
</main>
{% endblock content %}