{% extends "base.html" %}
{% block title %}Фильмы{% endblock title %}
{% block header %}Фильмы{% endblock header %}
{% block content %}
    <main>
        <section>
            <form method="get">
                <select name="genre" onchange="this.form.submit()">
                    <option value="">--Выберите жанр--</option>
                    {% for genre in all_genres %}
                        <option value="{{ genre.name }}" 
                                {% if genre.name == request.GET.genre %}selected{% endif %}>
                                {{ genre.name }}</option>
                    {% endfor %}
                </select>
            </form>
        </section>
        <section>
            {% for movie in all_movies %}
                <article>
                    <img src="{{ movie.poster.url }}" alt="" style="height:300px;">
                    <h2><a href="{% url 'movie_details' movie.id %}" target="_blank">{{ movie.title }}</a></h2>
                </article>
            {% endfor %}
        </section>
    </main>
{% endblock content %}